site_name: Documentação

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      # primary: light blue
      # accent: light blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      # primary: cyan
      # accent: cyan
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  language: pt
  font:
    text: Lato
  # favicon: images/bd_logo.png
  # logo: images/bd_logo.png
  features:
    - header.autohide
    - navigation.sections
    - navigation.top
    - toc.integrate
    # - navigation.tabs

repo_url: https://github.com/basedosdados/mais
repo_name: basedosdados/mais

extra:
  version: 2.0
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/basedosdados
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/huKWpsVYx4
    - icon: fontawesome/brands/github
      link: https://github.com/basedosdados/mais
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/basedosdados
    - icon: fontawesome/brands/whatsapp
      link: https://chat.whatsapp.com/HXWgdFc1RmwCoblly5KPBZ
    - icon: fontawesome/brands/telegram
      link: https://t.me/joinchat/OKWc3RnClXnq2hq-8o0h_w

  analytics:
    provider: google
    # property: !ENV GOOGLE_ANALYTICS_KEY

nav:
  - Home:
    - Início: index.md
    - BigQuery: access_data_bq.md
    - Pacotes: access_data_packages.md
    - Contribua: colab.md
    #   - Como citar a Base dos Dados: index.md # TODO

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed
  - pymdownx.superfences
  - mkdocs-click

extra_javascript:
- js/termynal.js
- js/custom.js

plugins:
  - search
  - mkdocs-video
  - mkdocstrings:
      handlers:
        python:
          # selection:
          #   selection_opt: true
          rendering:
            rendering_opt: "value"
          setup_commands:
            - import sys
            - sys.path.append("docs")
            - sys.path.append("python-package")
      watch:
        - python-package/basedosdados

extra_css:
- css/termynal.css
- css/custom.css
