[tool.poetry]
authors = ["Joao Carabetta <joao.carabetta@gmail.com>", "Ricardo Dahis", "Diego Oliveira"]
classifiers = [
  "Topic :: Software Development :: Build Tools",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
description = "Organizar e facilitar o acesso a dados brasileiros através de tabelas públicas no BigQuery."
homepage = "https://github.com/base-dos-dados/bases"
license = "MIT"
name = "basedosdados"
packages = [
  {include = "basedosdados"},
]
readme = "README.md"
repository = "https://github.com/base-dos-dados/bases"
version = "1.6.9"

[tool.poetry.scripts]
basedosdados = 'basedosdados.cli.cli:cli'

[tool.poetry.dependencies]
Jinja2 = "3.0.3"
ckanapi = "4.6"
click = "8.0.3"
google-cloud-bigquery = "2.30.1"
google-cloud-bigquery-storage = "1.1.0"
google-cloud-storage = "1.42.3"
importlib-metadata = "^4.11.3"
loguru = "^0.6.0"
pandas = "^1.3.5"
pandas-gbq = "^0.17.4"
pandavro = "^1.6.0"
pyaml = "20.4.0"
pyarrow = "6.0.0"
python = ">=3.7.1,<3.11"
'ruamel.yaml' = "0.17.10"
toml = "^0.10.2"
tomlkit = "0.7.0"
tqdm = "4.50.2"

[tool.black]
# Use the more relaxed max line length permitted in PEP8.
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.tox
  | \venv
  | build
  | dist
  | htmlcov
)/
'''
line-length = 88
target-version = ["py36", "py37", "py38"]

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]

[pytest]
addopts = "-p no:warnings"
