cachetools
certifi
charset-normalizer
ckanapi
click
colorama ; python_full_version >= "3.7.1" platform_system == "Windows" or python_full_version >= "3.7.1" and sys_platform == "win32"
db-dtypes
docopt
fastavro
google-api-core
google-api-core[grpc]
google-auth-oauthlib
google-auth
google-cloud-bigquery-storage
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
idna
importlib-metadata
jinja2
loguru
markupsafe
numpy
oauthlib
packaging
pandas-gbq
pandas
pandavro
proto-plus
protobuf
pyaml
pyarrow
pyasn1-modules
pyasn1
pydata-google-auth
pyparsing
python-dateutil
python-slugify
pytz
pyyaml
requests-oauthlib
requests
rsa
ruamel-yaml-clib==0.2.6 ; platform_python_implementation == "CPython" and python_version < "3.10"
ruamel-yaml
setuptools
shapely
six
text-unidecode
toml
tomlkit
tqdm
typing-extensions==4.1.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
urllib3
win32-setctime ; python_full_version >= "3.7.1" and sys_platform == "win32"
zipp
