wheel
google-cloud-bigquery
google-cloud-storage
google-cloud-bigquery-storage
pyaml==20.4.0
Jinja2==2.11.2
tomlkit==0.7.0
tqdm==4.50.0
black
pytest
ipykernel
jupyter
poetry
mkdocs
mkdocs-material
flake8
mkdocstrings
pandas_gbq
mkdocs-click
ruamel.yaml
requests
pandas
ckanapi