wheel
pyarrow==6.0.0
google-cloud-bigquery==2.30.1
google-cloud-storage
google-cloud-bigquery-storage
pyaml==20.4.0
Jinja2==2.11.2
tomlkit==0.7.0
tqdm==4.50.0
black
pytest
ipykernel
jupyter
poetry
importlib_metadata>3.10
flake8
pandas_gbq
mkdocs
mkdocs-material
mkdocstrings
mkdocs-click
ruamel.yaml
requests
pandas
ckanapi