name: Update contributors

on:
  pull_request:
    types: [closed]
  pull_request_review:
    types: [submitted]
  push:
    branches:
        - issue76
jobs:
  update-levels:
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.x'
    - name: Update Contributors
      uses: ./.github/workflows/update-contributors
      env: 
        GHUSER: ${{ secrets.GHUSER }}
        GHTOKEN: ${{ secrets.GHTOKEN }}